*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(22, 22, 23,.8);
    color: white;
    text-align: center;
    padding: 14px;
}
header nav ul li{
    display: inline;
    margin-left: 25px;
    
}
.sub-nav{
    background-color: #1d1d1f;
    color: white;
    text-align: center;
    padding: 10px;
}
.sub-nav span {
    color: blue;
}
.hero{background-color: black;
    text-align: center;
    color: white;
    align-items: center;
    
    
}
.hero img{width: 1000px;
    height: 400px;
    display: flex;
        justify-content: center;
        margin-left: 170px;
        /* margin-bottom: 100px; */
}
.hero h1 {
    /* padding: 30px; */
    font-size: 65px;
    
}
.hero h3{

    font-size: 25px;
    padding: 0%;
}
 /* input button{
    background-color: rgb(33, 33, 53);
    color: white;
    font-size: 30px;
    border-radius: 10px; */

 } 
.button1{
    background-color: rgb(98, 98, 189);
    color: white;
    font-size: 30px;
    border-radius: 10px
}
 .hero p{
    font-size:x-large;
    margin-bottom: 30px;
 }

 .second{
    background-color: #2997ff;
    margin-top: 0%;
    text-align: center;
}
.second img{width: 1000px;
/* text-align: center; */
height: 400px;}

